body {
    background-color: aliceblue;
    font-family: 'Ubuntu';
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

a {
    text-decoration: none;
}

.box {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.092);
}

.circle {
    width: 274px;
    height: 568px;
    background-color: #483EFF;
    border-radius: 10px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    img {
        border-radius: 10px;
        width: 274px;
        height: 293px;
    }
}

.page_link {
    padding-left: 32px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    a {
        display: flex;
        align-items: center;

        .num {
            border-radius: 50em;
            transition: all .5s ease;
            border: 2px solid #fff;
            padding-left: 11px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            color: #fff;
            font-size: 18px;
            font-family: 'Ubuntu-700';
        }

        .text {
            margin-left: 10px;
            font-size: 12px;
            font-weight: 500;
            line-height: 2px;
            color: #ABBCFF;

            .text2 {
                font-size: 14px;
                font-weight: 500;
                line-height: 5px;
                font-family: 'Ubuntu-700';
                color: #fff;
            }
        }

    }

    a:hover {
        .num {
            border: 2px solid #ffffff00;
            background-color: #BEE2FD;
            color: #022959;

        }

        .text {
            color: #ABBCFF;

            .text2 {
                color: #fff;
            }
        }

    }
}

.personal_info {
    margin-left: 100px;
    padding-top: 46px;
    margin-right: 100px;
    font-weight: 700;
    line-height: 28px;
}

@media (max-width: 942px) {
    .personal_info {
        margin-left: 40px;
        padding-top: 46px;
        margin-right: 40px;
        font-weight: 700;
        line-height: 28px;
    }
}





/* From Uiverse.io by mrhyddenn */
.check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34,50,84,0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  
  .check:hover:before {
    opacity: 1;
  }
  
  .check:hover svg {
    stroke: #022959;
  }
  
  #cbx:checked + .check svg,
  #cbf:checked + .check svg,
  #cbc:checked + .check svg {
    stroke: #022959;
  }
  
  #cbx:checked + .check svg path,
  #cbf:checked + .check svg path,
  #cbc:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx:checked + .check svg polyline,
  #cbf:checked + .check svg polyline,
  #cbc:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }
  
  /* Card container and card styling */
  .cards_container1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .span{
        color: #022959;
    }
  }
  
  .card-group {
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
    padding: 16px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    cursor: pointer;
    gap: 39px;
    border: 2px solid #9699AA;
    width: calc(50% - 16px); /* Adjust width for two columns layout */
  }
  
  .card {
    display: flex;
    flex-direction: column;
    /* line-height: 0; */
    gap: 7px;
  }
  
  .card h1 {
    color: #022959;
    font-size: 16px;
    font-family: "Ubuntu";
    font-weight: bold;
  }
  
  .card p {
    color: #9699AA;
    font-size: 14px;
    font-family: "Ubuntu";
    font-weight: 400;
  }
  
  .card span {
    color: #022959;
    font-size: 12px;
    font-family: "Ubuntu";
    font-weight: 400;
  }
  
  .card-group:hover {
    border: 2px solid #022959;
  }
  















.title_text {
    line-height: 12px;
}

.title {
    color: #022959;
    font-size: 32px;
    font-family: 'Ubuntu-700';
}

.text3 {
    color: #7D7D7D;
    font-size: 16px;
    font-family: 'Ubuntu';
    font-weight: 400;
    line-height: 20px;
}

/* input */
.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto; 
}
.input-group {
    position: relative;

}
input{
    color: #022959;
    font-family: 'Ubuntu';
    font-weight: 400;
    padding: 18px;
}
.input {
    width: 100%;
    border: solid 1.5px #02295986;
    border-radius: 4px;
    background: none;
    font-size: 20px;
    color: #022959;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
    position: absolute;
    left: 15px;
    top: 0px;
    color: #022959ae;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
    outline: none;
    border: 1.5px solid #022959;
}

.input:focus~label,
input:valid~label {
    transform: translateY(-50%) scale(0.8);
    background-color: #ffffff;
    padding: 0 .2em;
    color: #022959;
    font-size: 20px;

}
.button_group{
    display: flex;
    justify-content: space-between;
    margin-top: 81px;

}
.button_back {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif; /* Ensure fallback font */
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
    border: none;
    color: #7D7D7D;
    background-color: transparent;
    transition: color 1s ease, border-bottom 1s ease; /* Shorter transition for smooth effect */
    padding: 10px 0; /* Add some vertical padding for better click area */
    text-align: center; /* Center align text for better appearance */
}


.button_back:hover {
    color: #022959;
    /* border-bottom: 2px solid #022959; */
}

.button {
    width: 123px;
    padding: 15px 20px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    z-index: 1;
    cursor: pointer;
  }
  
  .button::after,
  .button::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
  .button::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #022959;
    border-radius: 10px;
  }
  
  .button::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #3c506947;
    backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .button:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .button:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }



/* page */
.cards_container{
    display: flex;
    align-items: start;
    /* justify-content: space-between; */
    gap: 20px;
}
.card-group{
    transition: all .5s ease;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 16px;
    padding-right: 30px;
    padding-bottom: 30  px;
    border-radius: 8px;
    cursor: pointer;
    gap: 39px;
    border: 2px solid #9699AA;
    .card{
        display: flex;
        flex-direction: column;
        line-height: 0px;
        gap: 7px;
        h1{
            color: #022959;
            font-size: 16px;
            font-family: "Ubuntu";
            font-weight: bold;
        }
        p{
            color: #9699AA;
            font-size: 14px;
            font-family: "Ubuntu";
            font-weight: 400;
        }
        span{
            color: #022959;
            font-size: 12px;
            font-family: "Ubuntu";
            font-weight: 400;
        }
    }                   
}
.card-group:hover{
    border: 2px solid #022959;
}
.card-group1{
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    padding: 16px;
    padding-right: 30px;
    padding-bottom: 30  px;
    border-radius: 8px;
    cursor: pointer;
    gap: 39px;
    border: 2px solid #9699AA;
    .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        /* line-height: 0px; */
        gap: 7px;
        h1{
            color: #022959;
            font-size: 16px;
            font-family: "Ubuntu";
            font-weight: bold;
        }
        .card_text{
            display: flex;
            flex-direction: column;
            line-height: 0px;
            gap: 7px;
            h1{
                color: #022959;
                font-size: 16px;
                font-family: "Ubuntu";
                font-weight: bold;
            }
        }
        p{
            color: #9699AA;
            font-size: 14px;
            font-family: "Ubuntu";
            font-weight: 400;
        }
        span{
            color: #022959;
            font-size: 12px;
            font-family: "Ubuntu";
            font-weight: 400;
        }
    }                   
}
.card-group1:hover{
    border: 2px solid #022959;
}
.card-group2{
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    padding: 16px;
    padding-right: 30px;
    padding-bottom: 30  px;
    border-radius: 8px;
    cursor: pointer;
    gap: 39px;
    /* border: 2px solid #9699AA; */
    .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        /* line-height: 0px; */
        gap: 7px;
        h1{
            color: #022959;
            font-size: 16px;
            font-family: "Ubuntu";
            font-weight: bold;
        }
        .card_text{
            display: flex;
            flex-direction: column;
            line-height: 0px;
            gap: 7px;
            h1{
                color: #022959;
                font-size: 16px;
                font-family: "Ubuntu";
                font-weight: bold;
            }
        }
        p{
            color: #9699AA;
            font-size: 14px;
            font-family: "Ubuntu";
            font-weight: 400;
        }
        span{
            color: #022959;
            font-size: 12px;
            font-family: "Ubuntu";
            font-weight: 400;
        }
    }                   
}

.monthly_yearly{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    p{
        color: #9699AA;
    }
    .monthly{
        color: #022959;}
}
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(182, 182, 182);
    transition: .4s;
    border-radius: 10px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 8px;
    left: 0.3em;
    bottom: 0.3em;
    transform: rotate(270deg);
    background-color: rgb(255, 255, 255);
    transition: .4s;
  }
  
  .switch input:checked + .slider {
    background-color: #022959;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.5em);
  }

@media (max-width: 850px) {

    .input {
        width: 90%;
        margin-right: 10px;
    }

    .container {
        display: block; /* Changed from inline to block for better handling */
        min-height: auto; /* Changed to auto for better responsiveness */
        padding: 0;
    }

    .box {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: aliceblue;
        box-shadow: none;
    }

    .personal_info {
        height: 100vh;
        padding: 0;
        margin: auto;
        position: relative;
        width: 100%;
    }

    .main {
        z-index: 11;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.092);
        background: #fff;
        margin-top: 0;
        border-radius: 8px;
        position: absolute;
        top: -50px;
        left: 10%;
        right: 10%;
        padding: 30px;
    }

    .circle {
        width: 100%;
        height: 156px;
        margin: 0;
        border-radius: 0;
        a {
            z-index: 10;
        }
        img {
            z-index: 1;
            width: 100%;
            height: 172px;
            border-radius: 0;
            margin-top: -88px;
        }
    }

    .page_link {
        flex-direction: row;
        justify-content: center;
    }

    .text {
        display: none;
    }

    .button_container {
        position: absolute; /* Changed to fixed for better visibility */
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px 15px;
        background-color: #FFFFFF;
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        box-sizing: border-box;
    }

    .button_group {
        margin-top: 0;
    }

    .cards_container {
        flex-direction: column;
        gap: 12px;
    }

    .card-group {
        width: 90%;
        flex-direction: row;
        align-items: center;
        margin-right: 50px;
    }

    .card {
        display: flex;
        flex-direction: column;
        line-height: 0;
    }
}
